* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #F3F1EF;
}

.dots {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  -webkit-filter: url(#goo);
  filter: url(#goo);
}

.dot {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.dot:before {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #79C3CD;
  position: absolute;
  left: 50%;
  top: -50px;
  margin-left: -12px;
  margin-top: -12px;
}

@-webkit-keyframes dot-scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes dot-scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes dot-rotate-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes dot-rotate-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.dot:nth-child(1) {
  -webkit-animation: dot-rotate-1 1.25s ease infinite;
  animation: dot-rotate-1 1.25s ease infinite;
}

.dot:nth-child(1):before {
  -webkit-animation: dot-scale 1.25s linear infinite;
  animation: dot-scale 1.25s linear infinite;
}

@-webkit-keyframes dot-rotate-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes dot-rotate-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.dot:nth-child(2) {
  -webkit-animation: dot-rotate-2 1.25s ease infinite;
  animation: dot-rotate-2 1.25s ease infinite;
}

.dot:nth-child(2):before {
  -webkit-animation: dot-scale 1.25s linear infinite;
  animation: dot-scale 1.25s linear infinite;
}

@-webkit-keyframes dot-rotate-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes dot-rotate-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.dot:nth-child(3) {
  -webkit-animation: dot-rotate-3 1.25s ease infinite;
  animation: dot-rotate-3 1.25s ease infinite;
}

.dot:nth-child(3):before {
  -webkit-animation: dot-scale 1.25s linear infinite;
  animation: dot-scale 1.25s linear infinite;
}

@-webkit-keyframes dot-rotate-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes dot-rotate-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.dot:nth-child(4) {
  -webkit-animation: dot-rotate-4 1.25s ease infinite;
  animation: dot-rotate-4 1.25s ease infinite;
}

.dot:nth-child(4):before {
  -webkit-animation: dot-scale 1.25s linear infinite;
  animation: dot-scale 1.25s linear infinite;
}

@-webkit-keyframes dot-rotate-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes dot-rotate-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.dot:nth-child(5) {
  -webkit-animation: dot-rotate-5 1.25s ease infinite;
  animation: dot-rotate-5 1.25s ease infinite;
}

.dot:nth-child(5):before {
  -webkit-animation: dot-scale 1.25s linear infinite;
  animation: dot-scale 1.25s linear infinite;
}

@-webkit-keyframes dot-rotate-6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes dot-rotate-6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.dot:nth-child(6) {
  -webkit-animation: dot-rotate-6 1.25s ease infinite;
  animation: dot-rotate-6 1.25s ease infinite;
}

.dot:nth-child(6):before {
  -webkit-animation: dot-scale 1.25s linear infinite;
  animation: dot-scale 1.25s linear infinite;
}

@-webkit-keyframes dot-rotate-7 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(216deg);
    transform: rotate(216deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes dot-rotate-7 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(216deg);
    transform: rotate(216deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.dot:nth-child(7) {
  -webkit-animation: dot-rotate-7 1.25s ease infinite;
  animation: dot-rotate-7 1.25s ease infinite;
}

.dot:nth-child(7):before {
  -webkit-animation: dot-scale 1.25s linear infinite;
  animation: dot-scale 1.25s linear infinite;
}

@-webkit-keyframes dot-rotate-8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(252deg);
    transform: rotate(252deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes dot-rotate-8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(252deg);
    transform: rotate(252deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.dot:nth-child(8) {
  -webkit-animation: dot-rotate-8 1.25s ease infinite;
  animation: dot-rotate-8 1.25s ease infinite;
}

.dot:nth-child(8):before {
  -webkit-animation: dot-scale 1.25s linear infinite;
  animation: dot-scale 1.25s linear infinite;
}

@-webkit-keyframes dot-rotate-9 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(288deg);
    transform: rotate(288deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes dot-rotate-9 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(288deg);
    transform: rotate(288deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.dot:nth-child(9) {
  -webkit-animation: dot-rotate-9 1.25s ease infinite;
  animation: dot-rotate-9 1.25s ease infinite;
}

.dot:nth-child(9):before {
  -webkit-animation: dot-scale 1.25s linear infinite;
  animation: dot-scale 1.25s linear infinite;
}

@-webkit-keyframes dot-rotate-10 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(324deg);
    transform: rotate(324deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes dot-rotate-10 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(324deg);
    transform: rotate(324deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.dot:nth-child(10) {
  -webkit-animation: dot-rotate-10 1.25s ease infinite;
  animation: dot-rotate-10 1.25s ease infinite;
}

.dot:nth-child(10):before {
  -webkit-animation: dot-scale 1.25s linear infinite;
  animation: dot-scale 1.25s linear infinite;
}
