* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

.wrapper {
  background: #F3F1EF;
  width: 400px;
  height: 300px;
  position: relative;
}

.dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #79C3CD;
  border: 1px solid #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform-origin: 9px 55px;
  transform-origin: 9px 55px;
  -webkit-transform: translateY(-55px) rotate(0deg);
  transform: translateY(-55px) rotate(0deg);
}

@-webkit-keyframes dot-1 {
  0% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-55px) rotate(360deg);
    transform: translateY(-55px) rotate(360deg);
  }
}

@keyframes dot-1 {
  0% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-55px) rotate(360deg);
    transform: translateY(-55px) rotate(360deg);
  }
}

.dot:nth-child(1) {
  -webkit-animation: dot-1 1.5s ease infinite;
  animation: dot-1 1.5s ease infinite;
}

@-webkit-keyframes dot-2 {
  0% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-55px) rotate(36deg);
    transform: translateY(-55px) rotate(36deg);
  }
  100% {
    -webkit-transform: translateY(-55px) rotate(360deg);
    transform: translateY(-55px) rotate(360deg);
  }
}

@keyframes dot-2 {
  0% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-55px) rotate(36deg);
    transform: translateY(-55px) rotate(36deg);
  }
  100% {
    -webkit-transform: translateY(-55px) rotate(360deg);
    transform: translateY(-55px) rotate(360deg);
  }
}

.dot:nth-child(2) {
  -webkit-animation: dot-2 1.5s ease infinite;
  animation: dot-2 1.5s ease infinite;
}

@-webkit-keyframes dot-3 {
  0% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-55px) rotate(72deg);
    transform: translateY(-55px) rotate(72deg);
  }
  100% {
    -webkit-transform: translateY(-55px) rotate(360deg);
    transform: translateY(-55px) rotate(360deg);
  }
}

@keyframes dot-3 {
  0% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-55px) rotate(72deg);
    transform: translateY(-55px) rotate(72deg);
  }
  100% {
    -webkit-transform: translateY(-55px) rotate(360deg);
    transform: translateY(-55px) rotate(360deg);
  }
}

.dot:nth-child(3) {
  -webkit-animation: dot-3 1.5s ease infinite;
  animation: dot-3 1.5s ease infinite;
}

@-webkit-keyframes dot-4 {
  0% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-55px) rotate(108deg);
    transform: translateY(-55px) rotate(108deg);
  }
  100% {
    -webkit-transform: translateY(-55px) rotate(360deg);
    transform: translateY(-55px) rotate(360deg);
  }
}

@keyframes dot-4 {
  0% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-55px) rotate(108deg);
    transform: translateY(-55px) rotate(108deg);
  }
  100% {
    -webkit-transform: translateY(-55px) rotate(360deg);
    transform: translateY(-55px) rotate(360deg);
  }
}

.dot:nth-child(4) {
  -webkit-animation: dot-4 1.5s ease infinite;
  animation: dot-4 1.5s ease infinite;
}

@-webkit-keyframes dot-5 {
  0% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-55px) rotate(144deg);
    transform: translateY(-55px) rotate(144deg);
  }
  100% {
    -webkit-transform: translateY(-55px) rotate(360deg);
    transform: translateY(-55px) rotate(360deg);
  }
}

@keyframes dot-5 {
  0% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-55px) rotate(144deg);
    transform: translateY(-55px) rotate(144deg);
  }
  100% {
    -webkit-transform: translateY(-55px) rotate(360deg);
    transform: translateY(-55px) rotate(360deg);
  }
}

.dot:nth-child(5) {
  -webkit-animation: dot-5 1.5s ease infinite;
  animation: dot-5 1.5s ease infinite;
}

@-webkit-keyframes dot-6 {
  0% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-55px) rotate(180deg);
    transform: translateY(-55px) rotate(180deg);
  }
  100% {
    -webkit-transform: translateY(-55px) rotate(360deg);
    transform: translateY(-55px) rotate(360deg);
  }
}

@keyframes dot-6 {
  0% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-55px) rotate(180deg);
    transform: translateY(-55px) rotate(180deg);
  }
  100% {
    -webkit-transform: translateY(-55px) rotate(360deg);
    transform: translateY(-55px) rotate(360deg);
  }
}

.dot:nth-child(6) {
  -webkit-animation: dot-6 1.5s ease infinite;
  animation: dot-6 1.5s ease infinite;
}

@-webkit-keyframes dot-7 {
  0% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-55px) rotate(216deg);
    transform: translateY(-55px) rotate(216deg);
  }
  100% {
    -webkit-transform: translateY(-55px) rotate(360deg);
    transform: translateY(-55px) rotate(360deg);
  }
}

@keyframes dot-7 {
  0% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-55px) rotate(216deg);
    transform: translateY(-55px) rotate(216deg);
  }
  100% {
    -webkit-transform: translateY(-55px) rotate(360deg);
    transform: translateY(-55px) rotate(360deg);
  }
}

.dot:nth-child(7) {
  -webkit-animation: dot-7 1.5s ease infinite;
  animation: dot-7 1.5s ease infinite;
}

@-webkit-keyframes dot-8 {
  0% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-55px) rotate(252deg);
    transform: translateY(-55px) rotate(252deg);
  }
  100% {
    -webkit-transform: translateY(-55px) rotate(360deg);
    transform: translateY(-55px) rotate(360deg);
  }
}

@keyframes dot-8 {
  0% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-55px) rotate(252deg);
    transform: translateY(-55px) rotate(252deg);
  }
  100% {
    -webkit-transform: translateY(-55px) rotate(360deg);
    transform: translateY(-55px) rotate(360deg);
  }
}

.dot:nth-child(8) {
  -webkit-animation: dot-8 1.5s ease infinite;
  animation: dot-8 1.5s ease infinite;
}

@-webkit-keyframes dot-9 {
  0% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-55px) rotate(288deg);
    transform: translateY(-55px) rotate(288deg);
  }
  100% {
    -webkit-transform: translateY(-55px) rotate(360deg);
    transform: translateY(-55px) rotate(360deg);
  }
}

@keyframes dot-9 {
  0% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-55px) rotate(288deg);
    transform: translateY(-55px) rotate(288deg);
  }
  100% {
    -webkit-transform: translateY(-55px) rotate(360deg);
    transform: translateY(-55px) rotate(360deg);
  }
}

.dot:nth-child(9) {
  -webkit-animation: dot-9 1.5s ease infinite;
  animation: dot-9 1.5s ease infinite;
}

@-webkit-keyframes dot-10 {
  0% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-55px) rotate(324deg);
    transform: translateY(-55px) rotate(324deg);
  }
  100% {
    -webkit-transform: translateY(-55px) rotate(360deg);
    transform: translateY(-55px) rotate(360deg);
  }
}

@keyframes dot-10 {
  0% {
    -webkit-transform: translateY(-55px) rotate(0deg);
    transform: translateY(-55px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-55px) rotate(324deg);
    transform: translateY(-55px) rotate(324deg);
  }
  100% {
    -webkit-transform: translateY(-55px) rotate(360deg);
    transform: translateY(-55px) rotate(360deg);
  }
}

.dot:nth-child(10) {
  -webkit-animation: dot-10 1.5s ease infinite;
  animation: dot-10 1.5s ease infinite;
}
